@tailwind base;
@tailwind components;
@tailwind utilities;



.main_box{
    width: 100vw;
    height: 100vh;
}
.creat_notes{
    box-shadow: 0 0 10px 0px rgb(158, 157, 157);
}
.description_input{
    resize: none;
}

/* ---------------------------- Notes ----------------------- */
.card_box{
    min-height: 12rem;
    border-width: 0.1px;
}
.card_box:hover .card_modification{
    display: block;
}

/* ---------------------- editBox ------------------------- */

.edit_box{
    left: 0;
    right: 0;
    margin: 0 auto;
}